/*
 This will not be processed as a scoped module by postcss. allows us to override globally-scoped css provided by imported modules
*/

.jsondiffpatch-deleted .jsondiffpatch-property-name, .jsondiffpatch-deleted pre, .jsondiffpatch-modified .jsondiffpatch-left-value pre, .jsondiffpatch-textdiff-deleted {
    background: #ffbbbb;
    text-decoration: none;
}

.nav-tabs .nav-item {
  cursor: pointer;
  margin-bottom: -1px;
}

.tab-pane {
  padding: 1em;
}


.btn-group-xs>.btn, .btn-xs {
  padding: .15rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
