.test-set {
  margin-bottom: 1em;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.test-set > .header {
  background-color:rgb(77, 170, 196);
  color: white;
  padding: 0 .5em 0 .5em;
  cursor: pointer;
}

.test-set > .header > .title {
  margin-right: 1em;
}


.error {
  display: inherit;
}

.error > .header {
  padding: .15rem .5rem;
  background-color: lightcoral;
  color: white;
}

.error > .stack {
  padding: .15rem .5rem;
  display: inherit;
}
